/*--------------------COLOURS*/
.header-bar {
    background-color: black;
}

.contact-header-bar {
    background-color: black;
}

/*---------------------HEADING*/
header {
    margin: 0;
}

.header-bar {
    height: 180px;
}

.contact-header-bar {
    width: 100%;
    height: 60px;
}

.contact-header h5 {
    color: white;
}
.contact-header a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: blue;
    background: blue;
}

.logo {
    background-color: black;
    background: url("../images/companylogo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 360px;
}
