/*--------------------COLOURS*/
.header-bar {
    background-color: black;
}

.contact-header {
    background-color: darkslategray;
}

/*---------------------HEADING*/
header {
    margin: 0;
}

.contact-links {
    color: white;
}

.contact-links a {
    color: #007cba;
}

.logo {
    background-color: black;
    background: url("../images/companylogo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 360px;
}
